<ion-header [translucent]="true" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>
      Current Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">
      March 2020
    </ion-title>
  </ion-toolbar>

  <app-progress></app-progress>

  <app-categories></app-categories>

  <ion-toolbar>
    <ion-title size="large">
      Transactions History
    </ion-title>
  </ion-toolbar>

  <app-transactions></app-transactions>

</ion-content>
