<ion-grid>
  <ion-row>
    <ion-col>
      <!-- List of Text Items -->
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-text color="white"> Last Statement Balance </ion-text>
            <br />
            <ion-text color="white"> $1,953.65 </ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="white"> Available Credit </ion-text>
            <br />
            <ion-text color="white"> $32,437.00 </ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="white"> Current Balance </ion-text>
            <br />
            <ion-text color="white"> $134.56 </ion-text></ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-button class="ion-activatable ripple-parent balance-btn">
              <ion-icon name="card-outline"></ion-icon>
              Balance & Credit Details
            </ion-button>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect
          ></ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <!-- List of Text Items -->
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-text color="white"> Amount is due on </ion-text>
            <br />
            <ion-text color="white"> 11 May </ion-text></ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="white"> Minimum Amount Due </ion-text>
            <br />
            <ion-text color="white"> $37.65 </ion-text></ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="white"> Direct debit on 11 May </ion-text>
            <br />
            <ion-text color="white"> $1,953.65 </ion-text></ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-button class="ion-activatable ripple-parent balance-btn">
              <ion-icon name="cash-outline"></ion-icon>
              Make Payment
            </ion-button>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect
          ></ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
