ion-label {
  text-align: center;
}

ion-text {
  margin-top: 5em;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-icon {
  padding-right: 0.25em;
}

ion-button {
  --background: #05386b !important;
}
