ion-toolbar {
  margin-top: 2em;
}

ion-button {
  float: right;
}

ion-icon {
  padding-right: 0.25em;
}

ion-button {
  --background: #05386b !important;
}
.ion-text-center{
  text-transform: uppercase;
  font-size: 18px;
}
