<ion-toolbar id="budgetplan-toolbar">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title size="large" class="ion-text-center">
          My Budget Plans
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-button class="ion-activatable ripple-parent">
          <ion-icon name="wallet-outline"></ion-icon>
          Edit Budget Plans
        </ion-button>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-list>
  <ion-item>
    <ion-label>Current Month</ion-label>
    <ion-badge slot="end">45%</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Previous Months</ion-label>
    <ion-badge color="secondary" slot="end">88%</ion-badge>
  </ion-item>
</ion-list>
